<?xml version="1.0"?>
<robot name="hook">
    <link name="hook">
        <visual>
            <geometry>
                <mesh filename="meshes/hook.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="meshes/hook.obj"/>
            </geometry>
            <!-- <sdf resolution="256"/> -->
        </collision>
    </link>
</robot>