<?xml version="1.0"?>
<robot name="stick">
    <link name="stick">
        <visual>
            <geometry>
                <mesh filename="meshes2/stick1_L70_W3_H5.obj"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="meshes2/stick1_L70_W3_H5.obj"/>
            </geometry>
            <!-- <sdf resolution="256"/> -->
        </collision>
    </link>
</robot>